@model IEnumerable<WebApplication7.Models.Employee>

@{
    ViewBag.Title = "GetAllEmployees";
}

<h2>GetAllEmployees</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{ 
    if (Model == null)
    {
        <h2>Api not working. please try again.</h2>
    }
            else
            {

            
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profile_image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employee_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employee_salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.employee_age)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.profile_image)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
    }
}